.navbar {
	display: flex;
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	transition: 0.5s;
	background: transparent;
	z-index: 999;
	padding: 0 !important;
}

.navbar.active {
	background: rgba(0, 0, 0, 0.7);
}

.navbar.active > ul > .nav-links {
	color: white;
}

ul {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	margin: 0;
}

.nav-links {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
